html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

#main {
  min-height: 100vh;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  margin: auto;
  background: #fffef0;
  padding: 10px;
}

#lorem {
  font-size: 2rem;
  font-family: Arial, sans-serif;
}

#lorem p {
  padding-bottom: 2rem;
}

header h1 {
  font-family: Arial, sans-serif;
  margin: 0;
}

