html {
  color: #5bc95b;
  font-size: 16px;
  font-family: monospace;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  background: #222;
}

#main {
  min-height: 100vh;
  box-sizing: border-box;
  max-width: 960px;
  width: 100%;
  margin: auto;
  background: #222;
  padding: 10px;
  font-size: 1.2rem;
}

#lorem {
  text-align: justify;
}

header h1 {
  margin: 0;
}
.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container button {
  background: #222222;
  border: solid 1px #5bc95b;
  color: #5bc95b;
  padding: 12px;
  font-family: monospace;
}

.button-container button:hover {
  background: #122612;
}

.button-container button:active {
  background: #244d24;
}
